<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Izin untuk aplikasi -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application  
        android:label="MyApp"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:label">

        <!-- Tambahkan kunci API Google Maps di sini -->
        <meta-data  
            android:name="com.google.android.geo.API_KEY"  
            android:value="YOUR_API_KEY_HERE"
            tools:replace="android:value"/>

    </application>

</manifest>
